{% extends "base.html" %}

{% set landing_sections = [] %}
{% for section in hidden_pages if section.slug.startswith("landing-section-hidden-") %}
    {% do landing_sections.append(section) %}
{% endfor %}

{% set nav_items = [] %}
{% for section in landing_sections if section.metadata.nav %}
    {% do nav_items.append(section) %}
{% endfor %}

{% block header %}
{% endblock header %}

{% block nav %}
    {% if nav_items %}
        <nav><ul>
        {% for section in nav_items %}
            {% if section.metadata.nav %}
                <li class="landing-anchor-link"><a href="#{{ section.slug|replace("landing-section-hidden-", "") }}">{{ section.metadata.nav }}</a></li>
            {% endif %}
        {% endfor %}
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        </ul></nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% for section in landing_sections %}
        <section>
            <div id="{{ section.slug|replace("landing-section-hidden-", "") }}" class="section-anchor"></div>
            <h1>{{ section.title }}</h1>
            {{ section.content }}
        </section>
    {% endfor %}
{% endblock content %}