/* Color palette: #161413 #B8A1CE #F58F29 #B3B7EE #FBF9FF */
/* Color names: smoky black, wisteria, dark orange, maximum blue purple, ghost white*/

/* General */

html, body
{
    background: #161413;
    color: #FBF9FF;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
}

p
{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    line-height: 1.2em;
    text-align: justify;
}

a
{
    color: #B8A1CE;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

abbr[title]
{
    text-decoration: underline dotted;
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    color: #F58F29;
    font-weight: bold;
}

h1
{
    font-size: 2em;
    margin-bottom: 1em;
}

.clear-floats
{
    clear: both;
}

.anchor
{
    visibility:hidden;
    display: block;
    position: relative;
    top: -4em;
}

/* Nav bar */

nav
{
    position: sticky;
    top: 0;
    margin-bottom: 1em;
    background: #161413;
    z-index: 100;
}

nav>ul:first-of-type
{
    display: flex;
    justify-content: center;
}

nav>ul:first-of-type li
{
    padding: 1em;
    margin: 0;
    transition: 1s;
}

nav>ul:first-of-type li:hover
{
    background: #B8A1CE;
    transition: 1s;
}

nav>ul:first-of-type li a
{
    color: #B8A1CE;
    font-weight: 700;
    font-variant: small-caps;
    text-decoration: none;
    transition: 1s;
}

nav>ul:first-of-type li:hover a
{
    color: #161413;
    transition: 1s;
}

.nav-lang a
{
    font-style: italic;
    font-weight: 300 !important;
}

/* Sections+Header commonalities */

section, header
{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}

/* Header */

header
{
    text-align: center;
}

#profile-picture
{
    border-radius: 100%;
    width: 8em;
    margin-bottom: 2em;
}

/* Sections */

.flex-section
{
    display: flex;
    flex-flow: row wrap;
}

.flex-section>*
{
    flex: 1 100%;
}

.flex-aside
{
    flex: 1 0px;
}

/* Buttons */

.buttons
{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0.2em;
    margin: 1em;
}

.buttons>li
{
    flex: 1 48%;
    margin: 0.2em;
    position: relative;
}

.buttons-title
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #B3B7EEBB;
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
}

.buttons>li:hover .buttons-title
{
    opacity: 1;
    transition: 1s;
}

.buttons>li:hover .buttons-title
{
    text-decoration: none;
}

.buttons-title h2
{
    width: 100%;
    max-width: 100%;
    color: #161413;
    font-size: 2.4em;
    word-wrap: break-word;
}

.buttons-img img
{
    width: 100%;
}

.buttons-details
{
    position: fixed;
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    background: #000000BB;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
}

.buttons-details:target
{
    visibility: visible;
    opacity: 1;
}

.buttons-popup
{
    background: #FBF9FF;
    color: #161413;
    margin: 70px auto;
    width: 30%;
    max-height: 30%;
    overflow: auto;
    position: relative;
    padding: 2em;
    transition: all 5s ease-in-out;
}

.buttons-popup h2
{
    font-size: 1.7em;
    margin-bottom: 0.7em;
}

.buttons-popup h3
{
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.buttons-popup-close
{
    display: inline-block;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    transition: all 1s;
    position: absolute;
    top: 1em;
    right: 1em;
    color: #161413;
    font-size: 1.5em;
    font-weight: 900;
}

.buttons-popup-close:hover
{
    text-decoration: none;
    background: #161413;
    color: #FBF9FF;
}

.buttons-details-links
{
    list-style-type: none;
    border-top: 1px solid #161413;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.buttons-details a
{
    color: #5D3F78;
}

/* Contact links */

.contact-links
{
    list-style-type: none;
    text-align: center;
    margin-top: 2em;
}

.contact-links li
{
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.contact-links img
{
    width: 2.6em;
}

/* Form */

form
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

form input[type="text"]
{
    min-width: 0;
    flex: 1 auto;
    margin: 0.2em;
}

form textarea
{
    min-width: 0;
    resize: none;
    height: 4em;
}

form input[type="submit"]
{
    margin-top: 1em;
    flex: 0 1 auto;
}

form .errorlist
{
    background: none;
    border: none;
    color: #FF9999;
    list-style-type: none;
}

form>*
{
    flex: 1 100%;
    color: #161413;
    background: #FBF9FF;
    border: none;
    border-radius: 0;
    padding: 0.5em;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 0.9em;
}

.error-info
{
    border: 1px solid #770000;
    padding: 1em;
    text-align: center;
    color: #220000;
    font-size: 1.2em;
    background: rgba(255, 0, 0, 0.6);
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
}

.warning-info
{
    border: 1px solid #222200;
    padding: 1em;
    text-align: center;
    color: #222200;
    font-size: 1.2em;
    background: rgba(255, 255, 0, 0.6);
    max-width: 50em;
    margin: auto;
    margin-top: 1em;
}

/* Footer */

footer
{
    margin-top: 1em;
    padding: 2em;
    background: #B3B7EE22;
}

footer p
{
    text-align: center;
}

/* Responsive */

@media all and (max-width: 1024px)
{
    abbr[title]
    {
        text-decoration: none;
    }

    abbr[title]:after
    {
        content: " (" attr(title) ")";
    }
}

@media all and (orientation: portrait) and (max-width: 1024px)
{
    /* General */

    h1, h2, h3, h4, h5, h6
    {
        text-align: left;
    }

    .anchor
    {
        position: static;
    }

    /* Nav bar */
    
    nav
    {
        background: #16141300;
        position: static;
    }

    nav>ul:first-of-type
    {
        justify-content: left;
    }

    nav>ul:first-of-type li:hover
    {
        background: #B8A1CE00;
    }

    nav>ul:first-of-type li:hover a
    {
        color: #B8A1CE;
    }

    .nav-anchor
    {
        display: none;
    }

    /* Section+Header commonalities */

    section, header
    {
        width: 80%;
    }

    /* Header */

    #profile-picture
    {
        border-radius: 1em;
    }

    /* Sections */

    .flex-aside
    {
        flex: 1 100%;
    }

    /* Buttons */

    .buttons-title h2
    {
        padding: 0.15em;
        text-align: left;
        font-size: 2em;
        transform: translate(0, 0);
        color: #FBF9FF;
        text-shadow: 2px 2px 5px black;
    }

    .buttons-title
    {
        background: #B3B7EE00;
        opacity: 1;
        align-items: start;
    }

    .buttons-popup
    {
        width: 100%;
        height: 100%;
    }

    /* Footer */

    footer p
    {
        text-align: justify;
    }
}

/* Fonts */

/* M PLUS 1p */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 100;
  src: local('M PLUS 1p Thin'), local('MPLUS1p-Thin'), url('../fonts/MPLUS1p/MPLUS1p-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 300;
  src: local('M PLUS 1p Light'), local('MPLUS1p-Light'), url('../fonts/MPLUS1p/MPLUS1p-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS 1p Regular'), local('MPLUS1p-Regular'), url('../fonts/MPLUS1p/MPLUS1p-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src: local('M PLUS 1p Medium'), local('MPLUS1p-Medium'), url('../fonts/MPLUS1p/MPLUS1p-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: local('M PLUS 1p Bold'), local('MPLUS1p-Bold'), url('../fonts/MPLUS1p/MPLUS1p-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  src: local('M PLUS 1p ExtraBold'), local('MPLUS1p-ExtraBold'), url('../fonts/MPLUS1p/MPLUS1p-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 900;
  src: local('M PLUS 1p Black'), local('MPLUS1p-Black'), url('../fonts/MPLUS1p/MPLUS1p-Black.ttf') format('truetype');
}
